<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <v-container>
                    <h1>Binary search</h1>
                    <hr>
                    <h4 class="mt-10">Please choose range for array</h4>
                    
                    <v-card-text>
                        <v-row>
                            <v-col class="px-4">
                            <v-range-slider
                                v-model="range"
                                :max="max"
                                :min="min"
                                hide-details
                                class="align-center"
                            >
                                <template v-slot:prepend>
                                <v-text-field
                                    v-model="range[0]"
                                    class="mt-0 pt-0"
                                    hide-details
                                    single-line
                                    type="number"
                                    style="width: 60px"
                                    @change="$set(range, 0, $event)"
                                ></v-text-field>
                                </template>
                                <template v-slot:append>
                                <v-text-field
                                    v-model="range[1]"
                                    class="mt-0 pt-0"
                                    hide-details
                                    single-line
                                    type="number"
                                    style="width: 60px"
                                    @change="$set(range, 1, $event)"
                                ></v-text-field>
                                </template>
                            </v-range-slider>
                            </v-col>
                        </v-row>
                        </v-card-text>
                        <h4>Choose value from {{range[0]}} to {{ range[1] }}</h4>
                        <v-row class="mx-auto">
                            <v-text-field
                                    label="Insert the value here"
                                    v-model="findValue"></v-text-field>
                            <v-btn  class="mt-5 ml-2"
                                    small color="primary"
                                    @click="binarySearch">Go</v-btn>
                        </v-row>
                        <h4>Your number index is [{{ result }}]</h4>
                <v-container>
            </v-main>
        </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
    new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data () {
            return {
                min: 1,
                max: 100,
                range: [10, 90],
                findValue: 20,
                result: undefined,
                sortedArr: [],
            }
        },
        methods: {
            getSortedArr() {
                let arr = [];
                let from = this.range[0];
                let to = this.range[1];
                while( from < to ) {
                    arr.push(from++);
                };
                this.sortedArr = arr;
            },
            binarySearch(){
                this.getSortedArr();
                let start = 0;
                let end = this.sortedArr.length - 1;
                let middle = 0;
                debugger;
                while( start <= end ){
                    middle = Math.floor(( start + end ) / 2 )
                    if( this.sortedArr[middle] == this.findValue ){
                        this.result = middle;
                        break;
                    } else if( this.findValue > this.sortedArr[middle] ) {
                        start = middle + 1;
                        } else {
                            end = middle - 1;
                        }
                }
            }
        },
        })
    </script>
</body>
</html>